.helicopter {
  animation: bounce 5s infinite;
  & .main-small {
    position: absolute;
    left: 460px;
    top: 38px;
    width: 50px;
    height: 50px;
    z-index: 0;
    border-radius: 50%;
    background: #302e37;
  }
  & .tail {
    position: absolute;
    top: 50px;
    left: 150px;
    transform-origin: left center;
    border-top: 10px solid transparent;
    border-bottom: 80px solid transparent;
    border-left: 350px solid #2fadd2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 10px;
  }
  & .main {
    position: absolute;
    left: 130px;
    top: -10px;
    width: 40px;
    height: 20px;
    background: #302e37;
  }
  & .cockpit {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    width: 195px;
    height: 195px;
    border-radius: 100px 40px 50px 50px;
    background-color: #44d2fd;
    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      top: -10px;
      left: -25px;
      width: 170px;
      height: 170px;
      border-radius: 40px;
      background-color: #302e37;
    }
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: -60px;
      left: -60px;
      width: 170px;
      height: 170px;
      border-radius: 40px;
      background-color: rgba(255, 255, 255, 0.05);
    }
  }
  & .rotor {
    width: 700px;
    height: 700px;
    border-radius: 350px;
    position: absolute;
    top: -360px;
    left: -200px;
    z-index: 2;
    overflow: hidden;
    background-color: #a299ab;
    opacity: 0.12;
    transform: scaleY(0.075);
    & .rotator {
      position: absolute;
      width: 700px;
      height: 700px;
      border-radius: 350px;
      animation: rotate 0.6s linear infinite;
      & div {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -350px;
        margin-top: -30px;
        width: 700px;
        height: 80px;
        background-color: #fff;
        &:first-child {
          transform: rotate(0deg);
        }
        &:last-child {
          transform: rotate(90deg);
        }
      }
    }
  }
  & .rotor-2 {
    width: 200px;
    height: 200px;
    border-radius: 350px;
    position: absolute;
    top: -60px;
    left: 383px;
    z-index: 2;
    overflow: hidden;
    background-color: #a299ab;
    opacity: 0.12;
    transform: scaleY(0.2);
    .rotator-2 {
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 350px;
      animation: rotate 0.4s linear infinite;
      & div {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -350px;
        margin-top: -30px;
        width: 700px;
        height: 40px;
        background-color: #fff;
      }
      & div:first-child {
        transform: rotate(0deg);
      }
      & div:last-child {
        transform: rotate(90deg);
      }
    }
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: translate(0px, -50px);
  }
  50% {
    transform: translate(0px, 50px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 70vw;
  transform: rotate(-10deg);
}
